@mixin google-font-importer($family, $subset: 'latin', $weight: 400) {
  @import url(https://fonts.googleapis.com/css?family=#{$family}:#{$weight}&subset=#{$subset});
}

@mixin google-font($family, $fallback, $weight: 400) {
  font: {
    family: #{$family}, #{$fallback};
    weight: #{$weight};
  }
}

$uc-font: "Audiowide";

$uc-yellow: #ffd43b;
$uc-black: #212529;
$uc-red: #f03e3e;
$uc-white: #f8f9fa;

@include google-font-importer($uc-font, $subset: 'latin,latin-ext', $weight: '400,700');

@mixin google-font($family, $fallback, $weight: 400) {
  font: {
    family: #{$family}, #{$fallback};
    weight: #{$weight};
  }
}

.center {
    margin: {
        right: auto;
        left: auto;
    }
}

.center-translate {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uc {
	@include google-font($uc-font, sans-serif, 700);
	display: block;
	margin: {
		top: 0.5em;
		bottom: 0.5em;
	}
	border: 0.1em solid $uc-black;
	padding: 0.7em;
	width: auto;
	text-align: center;
	font-size: 30px;
	border-radius: 0.3em;
	text-shadow: 1px 1px 0px $uc-white;
	color: $uc-black;
	white-space: nowrap;
	background: repeating-linear-gradient(
    45deg,
    $uc-yellow,
    $uc-yellow 0.6em,
    $uc-black 0.6em,
    $uc-black 1.3em
  );
	
	span,
	i {
		position: relative;
		z-index: 5;
	}
	
	&:before {
		content: '';
		position: absolute;
		top: 0.6em;
		bottom: 0.6em;
		left: 0;
		right: 0;
		z-index: 0;
		background-color: $uc-yellow;
	}
	
	&.uc-biohazard {
		color: $uc-red;
		text-shadow: 1px 1px 0px $uc-black;
		background: repeating-linear-gradient(
			45deg,
			$uc-black,
			$uc-black 0.6em,
			$uc-red 0.6em,
			$uc-red 1.3em
		);
		
		&:before {
			background-color: $uc-black;
		}
	}
	
	&.uc-mines {
		color: $uc-white;
		text-shadow: 1px 1px 0px $uc-black;
		background: repeating-linear-gradient(
			45deg,
			$uc-white,
			$uc-white 0.6em,
			$uc-black 0.6em,
			$uc-black 1.3em
		);
		
		&:before {
			background-color: $uc-red;
		}
	}
}

.uc-sm {
	font-size: 20px;
}

.uc-pos-fix {
	position: relative;
	width: 483px !important;
	
	&.uc-sm {
		width: 322px !important;
	}
}

//-----------

html.under-construction {
	background: #aaaaaa url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
